[defaults]
inventory = ./inventory/hosts.ini
remote_user = ec2-user
host_key_checking = False
retry_files_enabled = False
timeout = 30
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.fact_cache
fact_caching_timeout = 86400
interpreter_python = auto_silent
roles_path = ./roles
collections_paths = ./collections

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=5
